.diary-bacheca {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.how-it-works-container {
  flex: 0 0 65%;
  background-color: #112d4e;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  height: 67.68px;
  transition: max-height 0.3s ease-out;
}

.how-it-works-container.expanded {
  max-height: 150px;
  transition: max-height 0.5s ease-in;
}

.how-it-works-container:hover {
  background-color: #28a745;
}

.content-row {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.left-section {
  flex: 0 0 65%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.info-box {
  flex: 1;
  background-color: #112d4e;
  color: white;
  padding: 10px;
  margin: 0 10px;
  text-align: center;
  border-radius: 5px;
}

.note-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.note-buttons button {
  padding: 10px 20px;
  background-color: #3f72af;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.note-buttons button:hover {
  background-color: #112d4e;
}

.right-section {
  flex: 0 0 30%;
  flex-direction: column;
  padding: 10px;
}

.note-counter {
  flex: 0 0 30%;
  background-color: #112d4e;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2em;
}

.note-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
  width: 100%;
  margin: 2% 0%;
}

.note-date {
  font-size: 0.9em;
  color: #ebebeb;
}

.note-content {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  margin-bottom: 10px;
}

.note-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.load-more-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
