.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff9db;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.react-calendar {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.react-calendar__tile {
  max-width: initial;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #e4e7eb;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #fdfd96;
  border-color: #f7c948;
}

.react-calendar__tile--active {
  background-color: #ffd700;
  border-color: #f7b400;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: #f7b400;
  border-color: #ffae00;
}

.react-calendar__month-view__days__day--weekend {
  color: #e53e3e;
}

.react-calendar__navigation button {
  color: #2d3748;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #fdfd96;
  border-radius: 5px;
}

.note-icon {
  width: 20px;
  height: 20px;
}

.notes-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.notes-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.notes-modal h3 {
  color: #2d3748;
}

.notes-modal ul {
  list-style: none;
  padding: 0;
}

.notes-modal li {
  background: #edf2f7;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: 1px solid #e2e8f0;
}

.notes-modal button {
  background-color: #4299e1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.notes-modal button:hover {
  background-color: #3182ce;
}

textarea {
  width: 100%;
  max-width: 800px;
  height: 150px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #e4e7eb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
