.speech-to-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup {
  position: absolute;
  top: 80%;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  color: black;
  font-family: "Raleway", sans-serif;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.transcript-container {
  margin-top: 20px;
  width: 100%;
  height: 200px;
  overflow-y: auto;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  color: black;
  position: relative;
}

.recognized-text {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  font-family: "Montserrat Alternates", cursive, sans-serif;
  width: 100%;
  margin-top: 10px;
}

button {
  margin: 0 5px;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: rgb(254, 193, 1);
  color: #000;
}

.notification {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  z-index: 1001;
}

.notification.success {
  background-color: green;
  color: #fff;
}

.notification.error {
  background-color: red;
  color: #fff;
}
